* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  min-height: 2896px;
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  list-style: none;
}
a {
  font-family: "Alata", sans-serif;
  text-decoration: none;
  color: #fff;
}
/* HERO SECTION */

.section-header {
  width: 100%;
  height: 65rem;
  display: flex;
  justify-content: center;
  background: url(images/desktop/image-hero.jpg) no-repeat top/cover;
}
.bg-header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.header {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  padding: 6.4rem 16.48rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}
.header-navbar-menu {
  margin-top: 0.72rem;
  display: flex;
}

.header-navbar-menu-item {
  margin-left: 3.2rem;
  list-style: none;
}
.header-navbar-menu-item a,
.footer-menu-item a {
  font-family: "Alata", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1.44rem;
  font-weight: lighter;
  letter-spacing: 0.4px;
  position: relative;
}
.header-navbar-menu-item a::after,
.footer-menu-item a::after,
.footer-socials-item a::after {
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  left: 0px;
  bottom: -4px;
  content: "";
  transform: scaleX(0);
  transition: transform 0.3s ease 0s;
  background-color: #fff;
}
.header-navbar-menu-item a:hover:after,
.footer-menu-item a:hover::after,
.footer-socials-item a:hover::after {
  display: block;
  transform: scaleX(1);
}

.header-title {
  width: 100%;
  max-width: 65.2rem;
  min-width: 60rem;
  height: 28rem;
  margin-top: 42.4px;
  padding: 4.08rem 4rem;
  position: relative;
  left: -1px;
  outline: 2px solid #fff;
  outline-offset: -2px;
}
.icon_menu {
  width: 40px;
  height: 25px;
  display: none;
  cursor: pointer;
  background-image: url(images/icon-hamburger.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
.header-title-text {
  font-size: 71.2px;
  line-height: 70.08px;
  font-weight: lighter;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

/* CONTENT SECTION */

.section-content {
  width: 100%;
  max-width: 1440px;
  margin-top: 16rem;
  padding: 0 16.4rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.content-hero {
  width: 100%;
  max-width: 73.1rem;
  height: 50rem;
  position: relative;
}

.content-hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.1);
}

.content-hero-img {
  width: 100%;
}

.content-info {
  z-index: 6;
  width: 100%;
  max-width: 56.2rem;
  padding: 9.6rem 1.6rem 0 9.6rem;
  position: absolute;
  bottom: 0;
  right: 14.4rem;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.content-info-title {
  margin-bottom: 2.56rem;
  font-size: 4.8rem;
  font-weight: lighter;
  line-height: 4.8rem;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.content-info-details {
  font-family: "Alata", sans-serif;
  font-size: 1.472rem;
  letter-spacing: 0.136px;
  line-height: 2.48rem;
  color: rgb(140, 140, 140);
}

/* GALLERY SECTION */

.section-gallery {
  width: 100%;
  max-width: 1440px;
  margin-top: 18.4rem;
}

.gallery-header {
  padding: 0 16.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.gallery-header-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.784rem;
  font-weight: 200;
  letter-spacing: 0.448px;
}
.gallery-header-btn {
  width: 159px;
  height: 42px;
  margin-right: -0.32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.44rem;
  letter-spacing: 0.48rem;
  color: #000;
  border: 2px solid #000;
  transition: all 0.25s ease-in-out;
}

.gallery-header a {
  font-family: "Alata", sans-serif;
  text-decoration: none;
}

.gallery-header-btn:hover {
  background-color: #000;
  color: #fff;
}

.gallery-images {
  width: 100%;
  max-width: 1146px;
  margin: 7.968rem auto 0 auto;
  padding: 0 1.6rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(0, 256px));
  grid-auto-rows: 450px;
  gap: 30px;
  position: relative;
  left: 1px;
  cursor: pointer;
}

.gallery-images-img:nth-of-type(1) {
  background-image: url(images/desktop/image-deep-earth.jpg);
}
.gallery-images-img:nth-of-type(2) {
  background-image: url(images/desktop/image-night-arcade.jpg);
}
.gallery-images-img:nth-of-type(3) {
  background-image: url(images/desktop/image-soccer-team.jpg);
}
.gallery-images-img:nth-of-type(4) {
  background-image: url(images/desktop/image-grid.jpg);
}
.gallery-images-img:nth-of-type(5) {
  background-image: url(images/desktop/image-from-above.jpg);
}
.gallery-images-img:nth-of-type(6) {
  background-image: url(images/desktop/image-pocket-borealis.jpg);
}
.gallery-images-img:nth-of-type(7) {
  background-image: url(images/desktop/image-curiosity.jpg);
}
.gallery-images-img:nth-of-type(8) {
  background-image: url(images/desktop/image-fisheye.jpg);
}

.gallery-images-cover {
  width: 100%;
  height: 100%;
  padding: 3.2rem 4rem;
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.gallery-images-title {
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 3.2rem;
  color: #fff;
  letter-spacing: 0.192px;
}

.gallery-images-img:hover {
  transition: all 0.3s ease-in-out;
}

.gallery-images-img:hover {
  opacity: 0.3;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 160px;
  margin-top: 18.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.footer-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 16.48rem;
  display: flex;
  transition: all 0.5s ease-in-out;
}
.footer-container-left,
.footer-container-right {
  width: 50%;
}

.footer-logo-img {
  width: 144px;
  margin-top: 0.16rem;
  margin-bottom: 2.4rem;
}

.footer-menu {
  display: flex;
}
.footer-menu-item {
  margin-right: 3.2rem;
}

.footer-container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-socials {
  margin-top: 0.16rem;
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-socials-item {
  margin-left: 1.6rem;
  position: relative;
}
.footer-copyright {
  font-family: "Alata", sans-serif;
  font-size: 1.44rem;
  font-weight: lighter;
  letter-spacing: 0.288px;
  color: rgb(140, 140, 140);
}
