* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  min-height: 2896px;
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  list-style: none;
}
a {
  font-family: "Alata", sans-serif;
  text-decoration: none;
  color: #fff;
}
/* HERO SECTION */

.section-header {
  width: 100%;
  height: 65rem;
  display: flex;
  justify-content: center;
  background: url(images/desktop/image-hero.jpg) no-repeat top/cover;
}
.bg-header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.header {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  padding: 6.4rem 16.48rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}
.header-navbar-menu {
  margin-top: 0.72rem;
  display: flex;
}

.header-navbar-menu-item {
  margin-left: 3.2rem;
  list-style: none;
}
.header-navbar-menu-item a,
.footer-menu-item a {
  font-family: "Alata", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1.44rem;
  font-weight: lighter;
  letter-spacing: 0.4px;
  position: relative;
}
.header-navbar-menu-item a::after,
.footer-menu-item a::after,
.footer-socials-item a::after {
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  left: 0px;
  bottom: -4px;
  content: "";
  transform: scaleX(0);
  transition: transform 0.3s ease 0s;
  background-color: #fff;
}
.header-navbar-menu-item a:hover:after,
.footer-menu-item a:hover::after,
.footer-socials-item a:hover::after {
  display: block;
  transform: scaleX(1);
}

.header-title {
  width: 100%;
  max-width: 65.2rem;
  min-width: 60rem;
  height: 28rem;
  margin-top: 42.4px;
  padding: 4.08rem 4rem;
  position: relative;
  left: -1px;
  outline: 2px solid #fff;
  outline-offset: -2px;
}
.icon_menu {
  width: 40px;
  height: 25px;
  display: none;
  cursor: pointer;
  background-image: url(images/icon-hamburger.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  z-index: 90;
}

.icon_close {
  background-image: url(images/icon-close.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
  z-index: 90;
}
.header-title-text {
  font-size: 71.2px;
  line-height: 70.08px;
  font-weight: lighter;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.header-logo,
.header-navbar {
  z-index: 90;
}

/* CONTENT SECTION */

.section-content {
  width: 100%;
  max-width: 1440px;
  margin-top: 16rem;
  padding: 0 16.4rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.content-hero {
  width: 100%;
  max-width: 73.1rem;
  height: 50rem;
  position: relative;
}

.content-hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.1);
}

.content-hero-img {
  width: 100%;
}

.content-info {
  z-index: 6;
  width: 100%;
  max-width: 56.2rem;
  padding: 9.6rem 1.6rem 0 9.6rem;
  position: absolute;
  bottom: 0;
  right: 14.4rem;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.content-info-title {
  margin-bottom: 2.56rem;
  font-size: 4.8rem;
  font-weight: lighter;
  line-height: 4.8rem;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.content-info-details {
  font-family: "Alata", sans-serif;
  font-size: 1.472rem;
  letter-spacing: 0.136px;
  line-height: 2.48rem;
  color: rgb(140, 140, 140);
}

/* GALLERY SECTION */

.section-gallery {
  width: 100%;
  max-width: 1440px;
  margin-top: 18.4rem;
}

.gallery-header {
  padding: 0 16.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.gallery-header-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.784rem;
  font-weight: 200;
  letter-spacing: 0.448px;
}
.gallery-header-btn,
.gallery-header-btn-mobile {
  width: 159px;
  height: 42px;
  margin-right: -0.32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.44rem;
  letter-spacing: 0.48rem;
  color: #000;
  border: 2px solid #000;
  transition: all 0.25s ease-in-out;
}
.gallery-header-btn-mobile {
  display: none;
}

.gallery-header a {
  font-family: "Alata", sans-serif;
  text-decoration: none;
}

.gallery-header-btn:hover,
.gallery-header-btn-mobile:hover {
  background-color: #000;
  color: #fff;
}

.gallery-images {
  width: 100%;
  max-width: 1146px;
  margin: 7.968rem auto 0 auto;
  padding: 0 1.6rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(0, 256px));
  grid-auto-rows: 450px;
  gap: 30px;
  position: relative;
  left: 1px;
  cursor: pointer;
}

.gallery-images-img:nth-of-type(1) {
  background-image: url(images/desktop/image-deep-earth.jpg);
}
.gallery-images-img:nth-of-type(2) {
  background-image: url(images/desktop/image-night-arcade.jpg);
}
.gallery-images-img:nth-of-type(3) {
  background-image: url(images/desktop/image-soccer-team.jpg);
}
.gallery-images-img:nth-of-type(4) {
  background-image: url(images/desktop/image-grid.jpg);
}
.gallery-images-img:nth-of-type(5) {
  background-image: url(images/desktop/image-from-above.jpg);
}
.gallery-images-img:nth-of-type(6) {
  background-image: url(images/desktop/image-pocket-borealis.jpg);
}
.gallery-images-img:nth-of-type(7) {
  background-image: url(images/desktop/image-curiosity.jpg);
}
.gallery-images-img:nth-of-type(8) {
  background-image: url(images/desktop/image-fisheye.jpg);
}

.gallery-images-cover {
  width: 100%;
  height: 100%;
  padding: 3.2rem 4rem;
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.gallery-images-title {
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 3.2rem;
  color: #fff;
  letter-spacing: 0.192px;
}

.gallery-images-img:hover {
  transition: all 0.3s ease-in-out;
}

.gallery-images-img:hover {
  opacity: 0.3;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 160px;
  margin-top: 18.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.footer-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 16.48rem;
  display: flex;
  transition: all 0.5s ease-in-out;
}
.footer-container-left,
.footer-container-right {
  width: 50%;
}

.footer-logo-img {
  width: 144px;
  margin-top: 0.16rem;
  margin-bottom: 2.4rem;
}

.footer-menu {
  display: flex;
}
.footer-menu-item {
  margin-right: 3.2rem;
}

.footer-container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-socials {
  margin-top: 0.16rem;
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-socials-item {
  margin-left: 1.6rem;
  position: relative;
}
.footer-copyright {
  font-family: "Alata", sans-serif;
  font-size: 1.44rem;
  font-weight: lighter;
  letter-spacing: 0.288px;
  color: rgb(140, 140, 140);
}

/* MASK */
.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  display: flex;
  background-color: #000;
  transition: all 0.25s ease-in-out;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
  .header {
    padding: 6.4rem;
  }

  .section-content {
    padding: 0 6.4rem;
  }

  .content-info {
    padding: 6.4rem;
    bottom: -9.6rem;
  }

  .gallery-header {
    padding: 0 6.4rem;
  }

  .footer-container {
    padding: 0 6.4rem;
  }
}

@media screen and (max-width: 860px) {
  .section-content {
    flex-direction: column;
  }

  .content-info {
    width: 100%;
    max-width: none;
    padding: 4.8rem;
    position: relative;
    right: 0;
    bottom: 0rem;
    left: 0;
    text-align: center;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
  }

  .content-hero {
    height: auto;
  }

  .section-gallery {
    margin-top: 3.2rem;
  }

  .gallery-header {
    justify-content: center;
  }

  .gallery-header-btn {
    display: none;
  }

  .gallery-images {
    max-width: none;
    display: flex;
    flex-wrap: wrap;
  }

  .gallery-images .gallery-images-img {
    width: 100%;
    max-width: 654px;
    height: 240px;
    margin-bottom: 2.4rem;
    background-image: url(images/mobile/image-deep-earth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .gallery-images-img:nth-child(2) {
    background-image: url(images/mobile/image-night-arcade.jpg);
  }

  .gallery-images-img:nth-child(3) {
    background-image: url(images/mobile/image-soccer-team.jpg);
  }

  .gallery-images-img:nth-child(4) {
    background-image: url(images/mobile/image-grid.jpg);
  }

  .gallery-images-img:nth-child(5) {
    background-image: url(images/mobile/image-from-above.jpg);
  }

  .gallery-images-img:nth-child(6) {
    background-image: url(images/mobile/image-pocket-borealis.jpg);
  }

  .gallery-images-img:nth-child(7) {
    background-image: url(images/mobile/image-curiosity.jpg);
  }

  .gallery-images-img:nth-child(8) {
    background-image: url(images/mobile/image-fisheye.jpg);
  }

  .gallery-images-cover {
    width: 100%;
    max-width: 654px;
    height: 240px;
  }

  .gallery-header-btn-mobile {
    display: flex;
  }

  .footer {
    height: 470px;
    margin-top: 9.6rem;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-container-left,
  .footer-container-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo-img {
    margin-bottom: 3.2rem;
  }

  .footer-menu {
    flex-direction: column;
    text-align: center;
  }

  .footer-menu-item {
    margin: 0 0 1.92rem 0;
  }

  .footer-socials {
    margin: 2.4rem 0;
  }

  .footer-socials-item {
    margin: 0 0.96rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 4.8rem 3.2rem;
  }

  .header-navbar {
    position: absolute;
    top: 24rem;
    left: -17.6rem;
  }

  .show_menu {
    left: 3.2rem;
  }

  .header-navbar-menu {
    margin: 0;
    flex-direction: column;
  }

  .header-navbar-menu-item {
    margin: 0 0 2.4rem 0;
  }

  .header-navbar-menu-item a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.2rem;
    text-transform: uppercase;
  }

  .header-title {
    height: auto;
    width: 100%;
    min-width: 0;
    margin: 0 auto 4.8rem auto;
    padding: 0 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-title-text {
    width: 430px;
    font-size: 6.4rem;
  }

  .icon_menu {
    display: flex;
  }

  .content-info {
    padding: 6.4rem 0;
  }

  .show_mask {
    min-height: 4600px;
    left: 0;
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding: 3.2rem 1.6rem;
  }

  .header-logo-img {
    margin-left: 1.6rem;
  }

  .icon_menu {
    margin-right: 1.6rem;
  }

  .header-title {
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    padding: 3.2rem;
    margin-bottom: 0;
  }

  .header-title-text {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }

  .section-content {
    padding: 0 2.4rem;
  }

  .content-info-title {
    font-size: 3.68rem;
  }

  .gallery-header {
    padding: 0 1.92rem;
  }

  .gallery-header-title {
    font-size: 3.68rem;
  }

  .gallery-images .gallery-images-img,
  .gallery-images .gallery-images-cover {
    height: 120px;
    margin-bottom: 0;
    background-position: top;
  }

  .gallery-images-cover {
    padding: 1.92rem;
  }

  .footer-container {
    padding: 0 2.4rem;
  }
}

@media screen and (max-width: 420px) {
  .header-title {
    margin: 0;
  }

  .header-title-text {
    font-size: 4.48rem;
    line-height: 4.8rem;
  }
}

@media screen and (max-width: 370px) {
  .header-title-text {
    font-size: 3.84rem;
    line-height: 4rem;
  }

  .content-info-title,
  .gallery-header-title {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}
